body {
  font-family: sans-serif;
  background: #2F3440;
  color: #F8CA4D;
}
button, input[type=text], select {
  outline: none;
}
h2 {
  color: #EA6045;
  font-weight: normal;
  font-size: 27px;
  margin-left: 15px;
}
h1 {
  color: #EA6045;
  font-family: 'Snippet', sans-serif;
  font-size: 70px;
}
p {
  color: #EA6045;
  margin: 0px;
  margin-left: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}
span {
  color: #EA6045;
  margin: 0px;
}
li {
  height: 30px;
  margin: 5px;
}
button {
  margin: 0px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  height: 100%;
  border-radius: 5px;
  color: #2F3440;
  opacity: .85;
}
button:hover {
  opacity: 1;
  /*font-weight: bold;*/
}
.date {
  background: #DECFC3;
  width: 40px;
  padding: 10px 8px 10px 5px;
  margin-left: 5px;
  border: none;
  border-radius: 2px;
}
.items {
  padding: 10px;
  background-color: #DECFC3;
  color: #2F3440;
  font-size: 20px;
  border-radius: 2px;
}
.meta-data {
  color: #777;
  font-size: 12px;
  font-style: italic;
}
.actions {
  float: right;
}

.delete {
  background: #EA6045;
}
.complete {
  background: #E3B946;
}
#container {
  width: 1000px;
  margin: auto;
}

#expiration_date {
  margin-left: 20px;
}

#new-task-field {
  padding: 10px;
  border: none;
  width: 459px;
  margin: 0 0 0 30px;
  background-color: #DECFC3;
  border-radius: 2px;
}
#unfinished,
#finished {
  margin: 0px 0 10px 0;
  padding: 10px 40px 10px 10px;
  background: #3F5666;
  color: #eeeeee;
  border-radius: 5px;
}
#finished li {
  list-style-type: none;
}
#finished li .items {
  color: #2F3440;
}
#add-item {
  background: #EA6045;
  border-radius: 3px;
  margin: 5px;
  color: black;
  padding: 10px 20px 10px 20px;
  opacity: .8;
}
#add-item:hover {
  color: #2F3440;
  opacity: 1;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #777;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #777;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #777;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #777;
}
